body {
    font-family: Arial;
    background: #eef1f5;
    text-align: center;
}

.container {
    background: white;
    width: 400px;
    margin: 60px auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
}

button {
    width: 90%;
    padding: 10px;
    background: royalblue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 8px;
}

button:hover {
    background: navy;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    color: green;
}
